<div class='container my-5'>
<h1 class='text-center my-3'><%= @collection.title %></h1>

<h3>Description</h3>
<p><%= @collection.description %></p>

<% if @average_rate.zero? %>
  <h5>No reviews yet!</h5>
<% else %>
  <div id='avg-rate' data-score='<%= @average_rate %>'>
  <label><strong>Average Rate:</strong></label>
  </div>
  <p>(based on <%= pluralize @collection.reviews.count, 'review' %>)</p>
<% end %>

<% if @collection.likers.include? current_user %>
  <div id='user-rate' data-score='<%= @user_review.rate %>'>
    <label><strong>Your rate: </strong></label>
  </div>
<% else%>
  <%= render 'reviews/form', collection: @collection, review: @collection.reviews.build %>
<% end %>

<div class='d-flex justify-content-center'>
  <%= link_to 'Play with cards', standard_game_mode_index_path({collection_id: @collection.id}), class: 'btn btn-success' %>
</div>

<h3 class='text-center my-3'>Cards</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Card</th>
      <th scope="col">Back</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% num = 1 %>
  <% @cards.each do |card| %>
  <tr>
    <th scope="row"><%= num %></th>
    <% if @collection.user_id == current_user.id %>
      <td><%= link_to card.front, collection_card_path(@collection, card) %></td>
      <td><%= card.back %></td>
      <td><%= link_to 'Edit card', edit_collection_card_path(@collection, card), class: 'btn btn-outline-primary text-nowrap mx-2'%></td>
      <td><%= link_to 'Remove card', collection_card_path(@collection, card), method: :delete, class: 'btn btn-danger text-nowrap mx-2'%></td>
    <% else %>
      <td><%= card.front %></td>
      <td><%= card.back %></td>
      <td></td>
      <td></td>
    <% end %>
    <% num += 1 %>
  </tr>
  <% end %>
  </tbody>
</table> 

<% if @collection.user_id == current_user.id %>
<div class='d-flex justify-content-center'>
  <%= link_to 'Add new card', new_collection_card_path(@collection), class: 'btn btn-primary mx-2 my-2'%>
  <%= link_to 'Delete collection', @collection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger my-2' %>
</div>
<% end %>
</div>

<script>
  $('#avg-rate').raty({
  readOnly: true,
  half: true,
  score: function() {
    return $(this).attr('data-score');
  },
  hints: false,
  space: true,
  path: '/assets/',
});
</script>

<script>
  $('#user-rate').raty({
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  },
  hints: false,
  space: true,
  path: '/assets/',
});
</script>